<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>DockLock</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.danielvm.DockLock</string>
	<key>CFBundleName</key>
	<string>DockLock</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.5</string>
	<key>CFBundleVersion</key>
	<string>1.3.5</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>DockLock needs accessibility permissions to prevent the Dock from jumping between monitors.</string>
</dict>
</plist>
